<div class="row">
    <i class="fas fa-hamburger"></i>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header text-center">Ready to Eat!</h4>
            <div class="card-body">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="input-group my-4">
                    <li class="form-control">{{id}}.{{burger_name}}</li><button class="btn btn-success devour-button ml-3" data-id="{{id}}" type="submit">Devour IT!!</button>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header text-center"> Already Eaten</h4>
            <div class="card-body">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="input-group my-4">
                    <li class="form-control"> {{this.id}}.{{this.burger_name}}</li><button class="btn btn-success restore-button ml-3" data-id="{{id}}" type="submit">Restore</button>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
